<!DOCTYPE html>
<html>
<head>
    <title>CIFAR-10 Image Classifier</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="file" name="image" accept="image/*"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>